/* root  */

:root {
  /* Core Colors */
  --color-neutral-light: #ffffff;
  --color-neutral-dark: #000000;

  --color-primary-50: #e0f7ff;
  --color-primary-100: #e0f7ff;
  --color-primary-200: #b3eaff;
  --color-primary-300: #80dcff;
  --color-primary-400: #4dceff;
  --color-primary-500: #1ac0ff;
  --color-primary-600: #0099cc;
  --color-primary-700: #007399;
  --color-primary-800: #004d66;
  --color-primary-900: #002633;

  --color-secondary-100: #f0f0f0;
  --color-secondary-200: #d9d9d9;
  --color-secondary-300: #bfbfbf;
  --color-secondary-400: #a6a6a6;
  --color-secondary-500: #8c8c8c;
  --color-secondary-600: #737373;
  --color-secondary-700: #595959;
  --color-secondary-800: #404040;
  --color-secondary-900: #262626;

  /* Additional core colors */
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-danger-light: #ffb7be;
  --color-warning: #ffc107;
  --color-info: #17a2b8;

  /* Font Sizes */
  --font-size-s-1: 0.75rem;
  --font-size-s-2: 0.875rem;
  --font-size-s-3: 1rem;
  --font-size-s-4: 1.125rem;
  --font-size-s-5: 1.25rem;
  --font-size-s-6: 1.5rem;
  --font-size-s-7: 1.75rem;
  --font-size-s-8: 2rem;

  /* Spacing */
  --spacing-s-0: 0rem;
  --spacing-s-1: 0.25rem;
  --spacing-s-2: 0.5rem;
  --spacing-s-3: 0.75rem;
  --spacing-s-4: 1rem;
  --spacing-s-5: 1.25rem;
  --spacing-s-6: 1.5rem;
  --spacing-s-7: 1.75rem;
  --spacing-s-8: 2rem;

  /* Semantic Colors */
  --color-solid: var(--color-primary-500);
  --color-solid-dark: var(--color-primary-700);
  --color-dim: var(--color-secondary-200);

  --color-on-solid: var(--color-secondary-800);
  --color-on-solid-light: var(--color-secondary-600);
  --color-on-dark-solid: var(--color-neutral-light);
  --color-on-dim: var(--color-secondary-900);

  /* Surface Colors */
  --color-surface-white: #f9f9f9;
  --color-surface-light-grey: var(--color-secondary-100);
  --color-surface-neutral: var(--color-secondary-300);

  /* Box Shadows */
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0 0 30px rgba(0, 0, 0, 0.15);


}



body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: var(--spacing-s-0);
  min-width: 480px;
  max-width: 500px;
  max-height: 400px;
  margin: 0 auto;
  height: 100%;
  background-color: var(--color-surface-white);
  border-radius: var(--spacing-s-2);
  display: flex;
  flex-direction: column;
  width: 100%;
  /* gap: var(--spacing-s-2); */
}

.donate a {
  color: var(--color-on-solid-light);
  text-decoration: none;

}



h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
}

h2 {
  font-size: var(--font-size-s-4);
  color: var(--color-on-dim);
  margin: var(--spacing-s-2) 0;
  font-weight: 600;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--color-surface-white);
  z-index: 1000;
  padding: var(--spacing-s-5) var(--spacing-s-5) var(--spacing-s-2) var(--spacing-s-5);
}

.header-buttons {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-s-2);
}

.logoheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  /* margin top and bottom 4px;/ */
  margin: 8px 0 8px;
  font-weight: bold;
  color: #555;
}

input,
textarea {
  width: -webkit-fill-available;
  padding: var(--spacing-s-3);
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: var(--spacing-s-4);
  font-size: 16px;
}

textarea {
  text-wrap: pretty;
}

input:focus,
textarea:focus,
select:focus {
  outline: 2px solid var(--color-primary-500);
  border-color: var(--color-primary-500);
  animation: focus-animation 1s ease-in-out infinite alternate;
}

@keyframes focus-animation {
  0% {
    outline-color: var(--color-primary-500);
  }

  100% {
    outline-color: var(--color-primary-700);
  }
}


/* Base button styles */
button {
  padding: var(--spacing-s-2) var(--spacing-s-4);
  border-radius: var(--spacing-s-3);
  font-size: var(--font-size-s-3);
  border: none;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:hover {
  filter: brightness(1.1);
  transform: scale(1.05);
}

button:active {
  transform: scale(.95)
}

/* Primary button styles */
.button-primary {
  /* background: var(--color-solid); */
  background: linear-gradient(30deg, #3B6CF2, #6CCCFB);
  color: var(--color-on-dark-solid);
  padding: var(--spacing-s-3) var(--spacing-s-5);
}

.button-primary:hover {
  /* background: var(--color-solid-dark); */
  background: linear-gradient(30deg, #3B6CF2, #6CCCFB);
  filter: brightness(1.1);
}


/* Secondary button styles */
.button-secondary {
  background: var(--color-secondary-200);
  color: var(--color-secondary-900);
}

.button-secondary:hover {
  background: #c3c3c3;
}

.button-secondary:active {
  background: #b6b6b6;
}

.delete-button {
  /* background-color: var(--color-danger-light); */
  border: 2px solid var(--color-danger);
}

textarea {
  resize: vertical;
  height: 100px;
  text-wrap: pretty;
}

textarea#prompt {
  font-size: 10px;
  height: 59px;
}

select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
  margin-bottom: 10px;

}



.fillAvailable {
  width: 100%;
}

/* Spinner styles */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-left-color: #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-block;
  animation: spin 1s linear infinite;
  margin-left: 10px;
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

ul#articleList {
  padding: 0;
  list-style: none;
}



.article-card {
  background-color: var(--color-surface-white);
  border-radius: var(--spacing-s-4);
  box-shadow: var(--box-shadow);
  margin-bottom: var(--margin);
  padding: var(--spacing-s-4);
  margin-bottom: var(--spacing-s-3);
  transition: box-shadow 0.3s ease;
}

.article-card:hover {
  box-shadow: var(--box-shadow-hover);
}



@keyframes scale-down {
  to {
    transform: scale(0.98);
  }
}

.article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-content {
  margin-top: var(--margin);
  border-top: 1px solid var(--secondary-color);
  padding-top: var(--padding);
}


/* .donate {
  background-color: var(--color-surface-white); 
  padding: var(--spacing-s-2);
  border-radius: var(--spacing-s-2);
} */

.input-container {
  position: relative;
  display: inline-block;
  /* Ensure the container only takes up necessary space */
}

#searchInput {
  width: 100%;
  /* Ensure the input takes the full width of the container */
  padding-right: 70px;
  /* Adjust padding to accommodate the label */
  box-sizing: border-box;
  /* Include padding in the element's total width */
}

.input-container::after {
  content: '⌘ + F';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-surface-neutral);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.8em;
  color: #333;
  /* Ensure contrast with the background */
  pointer-events: none;
  /* Prevent interaction with the pseudo-element */
  z-index: 1;
  /* Ensure it appears above other elements */
}

.container {
  padding: var(--spacing-s-5);
}

.container-sm {
  padding: var(--spacing-s-0) var(--spacing-s-5);
}

.screen {
  padding: var(--spacing-s-5);
  padding-top: var(--spacing-s-2);

}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  right: var(--spacing-s-5);
  left: var(--spacing-s-5);
  width: -webkit-fill-available;
  margin: var(--spacing-s-5) 0;
  z-index: 1000;
  background-color: var(--color-surface-white);
  /* padding: var(--spacing-s-2); */
}

.fixed-button {
  width: -webkit-fill-available;
}

#settingsForm {
  margin-bottom: 64px;
}