/* root  */

:root {
  /* Colors */
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --white-color: #fff;
  --black-color: #000;
  

  /* Spacing */
  --padding: 16px;
  --margin: 16px;
  --border-radius: 16px;
  --box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  
  /* Breakpoints */
    --sm: 576px;  
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;   
}



body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  min-width: 420px;
  max-width: 480px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.donate a {
  color: var(--primary-color);
  text-decoration: none;
}

h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
}

.header {

  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logoheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  /* margin top and bottom 4px;/ */
  margin: 8px 0 8px;
  font-weight: bold;
  color: #555;
}

input, textarea {
  width: -webkit-fill-available;
  padding: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
}

textarea {
  resize: vertical;
  height: 100px;
}

button {
  /* width: 100%; */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 16px;
  font-size: 18px;
  animation: fadein 1s;
  /* cursor: pointer; */
}

button:hover {
  background-color: #0056b3;
  animation: fadein 1s infinite;
}
input, textarea {
  width: -webkit-fill-available;
  padding: 16px;
  /* margin-bottom: 10px; */
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
}

select {
  width: 100%;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
}


.buttonIcon {
  /* position: absolute; */
  /* top: 20px;
  right: 20px; */
  padding: 10px 15px;
  background-color: #d0d0d0;
  color: #383838;
  /* border: #333 solid 1px; */
  vertical-align: middle;
}

.buttonIcon:hover {
  background-color: #c3c3c3;
}

.buttonIcon:active {
  background-color: #b6b6b6;
}

.buttonIcon:disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
  opacity: 0.5;
  /* cursor: not-allowed; */
}

.fillAvailable {
  width: 100%;
}



.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-left-color: #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-block;
  animation: spin 1s linear infinite;
  margin-left: 10px;
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
