body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 24px;
  margin-top: 20px;
  max-width: 500px;
  width: 100%;
}
h1 {
  color: #007bff;
  text-align: center;
  margin: 16px 0;
}
label {
  display: block;
  margin: 12px 0 4px;
  color: #2c2c2c;
  font-weight: 200;
  font-size: 16px;
}
.light {
  color: #333;
}
input, textarea {
  width: -webkit-fill-available;
  padding: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
}
textarea {
  height: 100px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 16px;
  font-size: 18px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
.output {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  word-wrap: break-word;
  text-align: center;
  background: #e9ecef;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ccc;
}
.output a {
  padding: 12px;
  border-radius: 8px;
  border-color: dimgrey;
  border-style: dotted;
}
#header {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  body {
    align-items: flex-start;
    height: auto;
    padding: 20px;
  }
  .container {
    margin-top: 0;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  input, textarea {
    padding: 12px;
    border-radius: 8px;
    font-size: 14px;
  }
  button {
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
  }
  .output {
    padding: 10px;
    border-radius: 8px;
  }
  .output a {
    padding: 8px;
  }
}
